<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<h3>Delivery Details</h3>

<body data-th-object="${order}">

    <p>Order number: <span data-th-text="*{orderId}"></span></p>
    <p>Name: <span data-th-text="*{name}"></span></p>
    <p>Address: <span data-th-text="*{address}"></span></p>
    <p>Pizza Cost: $ <span data-th-text="${cost}"></span></p>
    <!-- <p>Rush: <span data-th-text="*{isRush}"></span></p> -->
    <p data-th-if="*{isRush} == 'true'">Rush: $2</p>
    <p data-th-if="*{isRush} == 'false'">Rush: $0</p>
    <p>Total Cost: $ <span data-th-text="${finalcost}"></span></p>

</body>

</html>